.App {
  text-align: center;
}

html {
  font-family: 'Trebuchet MS', sans-serif;
  margin-left: 10px;
  margin-right: 10px;
}

.stdButton {
  width: 100px;
  background-color: #422F2F;
}

.stdButton p {
  color: black
}

.card:first-child {
  border: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 700px) {
  .card:first-child {
    width: 40%;
  }
}

.card .input-container {
  position: relative;
  margin: 0 60px 50px;
}

.card .input-container input {
  outline: none;
  z-index: 1;
  position: relative;
  background: none;
  width: 100%;
  height: 54px;
  border: 0;
  color: #212121;
  font-size: 14px;
  font-weight: 400;
}

.card .input-container input:focus~label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
  transform: translate(-12%, -50%) scale(0.75);
}

.card .input-container input:valid~label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
  transform: translate(-12%, -50%) scale(0.75);
}

.card .input-container label {
  position: absolute;
  top: 0;
  left: 0;
  color: #757575;
  font-size: 14px;
  font-weight: 300;
  line-height: 60px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.card .input-container .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #bababa;
  width: 100%;
  height: 1px;
}

.card .button-container button {
  outline: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: 0;
  width: 50vw;
  border: 2px solid #bababa;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

@media only screen and (min-width: 768px) {
  .card .button-container button {
    width: 20vw;
  }
}

.card .button-container button span {
  position: relative;
  z-index: 1;
  color: #bababa;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.card .button-container button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.card .button-container button:hover,
.card .button-container button:active,
.card .button-container button:focus {
  background-color: #bababa;
}

.card .button-container button:hover span,
.card .button-container button:active span,
.card .button-container button:focus span {
  color: white;
}

.card .footer {
  margin: 40px 0 0;
  color: #757575;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}

.card .footer a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.card .footer a:hover {
  color: #bababa;
}

article {
  padding-top: 10px;
  padding-bottom: 10px;
}

.startImg {
  width: 60px;
}

.error {
  color: #D64045;
  font-size: 14px;
  margin: 16px 0 0;
  order: 2;
  padding: 10px 16px;
}

.input {
  font-size: 14px;
}

.instButton {
  outline: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: 0;
  width: 50vw;
  background-color: black;
  border: 2px solid black;
  margin-top: 20px;
  color: white;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  margin: 5px;

}

@media only screen and (min-width: 768px) {
  .list {
    width: 70%;
    margin-left: auto;
    margin-right: auto; 
       
  }
  .instButton {
    width: 300px;
    text-decoration: none;
  }
}

@media screen and (max-width: 600px) {
  .list {
    font-size: 11px;
  }
  .instButton {
    width: 300px;
    font-size: 10px;
  }
}